<html>
        <head>
            <title>Jobify</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="/estilos.css" rel="stylesheet">    
    </head>
    <body>


<h1><a href="/"><img src="/images/logo.png" alt="Jobify - by DevPleno"></a></h1>
<p>We are Jobify - Join us!</p>