<%- include('header') %>
    <h2>ADMIN</h2>
      <div>
        
        <ul>
            <li><a href="/admin/categorias">Gerenciar Categorias</a></li>
            <li><a href="/admin/vagas">Gerenciar vagas</a></li>
        </ul>
    </div>        
<%- include('footer') %>