<%- include('header') %>
    <h2>
        NOVA VAGAS:
        <a href="/admin/vagas">Nova Vaga</a>
    </h2>
        <div>
            <form method="POST">
                <label>Título:</label>
                <input type="text" name="titulo">
                <br>
                <label>Descrição:</label>
                <textarea name="descricao"></textarea>
                <br>
                <label>Categoria:</label>
                <select name="categoria">
                    <% categorias.forEach( categoria => {%>
                    <option value="<%= categoria.id %>"><%= categoria.categoria %></option>
                    <% }) %>
                </select>
                <br>
                <button>Salvar Vaga</button>
                
            </form>
        </div>          
<%- include('footer') %>